body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
}

/*Organisation de la page*/

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.fixe {
<<<<<<< HEAD
    width: 50%;
=======
    width: 42%;
>>>>>>> 3f5e41ea040f6691f3547b552dbb82b2587ab149
    display: flex;
    flex-direction: row;
}

.menu {
    width: 35%;
    height: 100vh;
}

.image-bg {
    width: 65%;
}

.contenu {
<<<<<<< HEAD
    width: 50%;
=======
    width: 58%;
>>>>>>> 3f5e41ea040f6691f3547b552dbb82b2587ab149
    background-color: #1c1c1a;
    padding: 2%;
}

img {
    width: auto;
    display: block;
    height: 100%;
}

/*Organisation du menu*/


.menu {
    font-family: "Poppins", Arial, sans-serif;
    background-image: url("/images/background-menu.png");
    background-position: 100% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.marge-before {
    height: 50px;
}

.logo {
    margin: 20px;
}

header ul li {
    list-style: none;
    line-height: 2em;
    padding-top: 20px;
}


header ul li a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);;
    font-weight: bolder;
}

header ul li a:hover {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #66d1c1;
}


/*Style générale*/

h1 {
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 3em;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    color: #66d1c1;
    font-size: 2em;
    line-height: 1.2;
}

p {
    font-family: "Poppins", Arial, sans-serif;
    color: #545454;
    font-weight: bolder;
}