.giffy{
    width: 20%;
    height: 20%;
    text-align: center;
    align-items: center;
}
    
h2{
    text-align: center;
    
 }
 .hobbies {
    position: relative;
    display: inline;
    align-self: center;
 }