body {
    margin: 0;
    padding:0;
    background-color: black;
    height: 100%;
}

/*Organisation de la page*/

.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.fixe {
    width:50%;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 40%;
}

.image-bg {
    width: 60%;
    overflow: hidden;
    position:relative;
}

.contenu {
    width:50%;
    background-color: #1c1c1a;
    padding: 5%;
}

.middle {
    width: 38em;
    display: block;
    height: auto;
}

/*Organisation du menu*/


.menu {
    font-family: "Poppins", Arial, sans-serif;
    background-image: url("/images/background-menu.png");
    background-repeat: no-repeat;
}

.marge-before
{
    min-height:50px;
}

header ul li {
    list-style: none;
    line-height: 2em;
    padding-top: 20px;
}


header ul li a
{
    text-decoration:none;
    list-style:none;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.8);;
    font-weight: bolder;
}

header ul li a:hover
{
    text-decoration:none;
    list-style:none;
    text-transform: uppercase;
    color:#66d1c1;
}



/*Style générale*/

h1 {
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 3em;

}

h2 {
    font-family: 'Abril Fatface', cursive;
    color:#66d1c1;
    font-size: 2em;
    line-height: 1.2;

}

p {
    font-family: "Poppins", Arial, sans-serif;
    color:#545454;
    font-weight: bolder;
}

.titleText {
    margin: 0;
    padding: 0;
    text-align: center;
    color:#66d1c1;
}

div .floatToLeft {
    float: left;
}
div .floatToRight {
    float: right;
}

p .floatToLeft {
    float: left;
    margin: 0;
    padding: 0;
}

p .floatToRight {
    float: right;
    margin: 0;
    padding: 0;
}
p .alignToRight {
    text-align: right;
    margin: 0;
    padding: 0;
}

hr {
    display: none;
}

@media screen and (max-width : 1394px) {
    img {
        display: none;
    }
}


@media screen and (max-width : 768px) {

    img {
        display: none;
    }
    .menu {
        width: 18em;
    }
    div {
        float: left !important;
        overflow-x: hidden; //horizontal
    }
    p, h1, h2, h3, h4 {
        margin: 0;
        padding: 0;
        position: relative;
        float: none !important;
        text-align: left !important;
        width: 22em;
    }
    .fixe {
        width:25%;
    }
    .image-bg {
        display: none;
    }
    br {
        display: none;
    }
    hr {
        display: block;
    }
    .contenu {
        width:65%;
    }
    section .textual {
        float: right !important;
        text-align: left !important;
    }
    .titleText {
        text-align: left;
    }
}