/*HOBBIES*/

.giffy {
    width: 10%;
    height: 10%;
    position: absolute;
    }
    
h2 {
    text-align: center;
    }

.imageg {
    width: 100%;
    height: auto;
}    
.contenu {
    height: 100%;
}

.middle{
    width: 38em;
    display: block ;
    height: auto;

}
.menu {
    width: 40%;
    height: 100vh;
}
