/*Organisation du menu*/

.marge-before
{
    min-height:50px;
}

div .floatToLeft {
    float: left;
}
div .floatToRight {
    float: right;
}

p .floatToLeft {
    float: left;
    margin: 0;
    padding: 0;
}

p .floatToRight {
    float: right;
    margin: 0;
    padding: 0;
}
p .alignToRight {
    text-align: right;
    margin: 0;
    padding: 0;
}

hr {
    display: none;
}
