
.thanks-message {
    width: 50%;
    margin: auto;
    text-align: center;
}

.redirection a {
    justify-content: center;
}

h3 {
    font-family: "Poppins", Arial, sans-serif;
    color: #66d1c1;
    font-size: 2.5em;
    font-weight: bolder;
}

h4 {
    font-family: "Poppins", Arial, sans-serif;
    color: #545454;
    font-size: 2em;
    font-weight: bolder;
}

