#piece {
    width: 70px;
    height: 70px;
    margin-right: 2%;
    margin-top: 0.5%;
    display: block;
    animation: example 10s linear 0s infinite;
}

#piece:hover{
    animation-play-state: paused;
}

@keyframes example {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
span {
    font-size: 0.8em;
}

h2 {
    font-size: 1.6em;
    margin-top: 1%;
    margin-bottom: 0%;
}

.imageText {
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    padding-left: 2%;
    padding-top: 2%;
}

.usMarine {
    background-color: rgb(51, 47, 54);
}

.textFormation {
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

