.title{
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    text-align: center;
    }

h4{ 
    text-align: center;
    font-size: 2em;
    font-family: 'Abril Fatface', cursive;
}
.prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(20px, auto);  
    grid-gap: 10px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.bloc-element1 {
    grid-column: 1 / 4;
}

.prices p {
    font-size: 16px;
}

.contenu {
    color: #66d1c1;
}

.JohnWickSkills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
}

.bloc4{
    grid-row: 1;
    grid-column: 1;
}

.bloc5{
    grid-row: 2;
    grid-column: 1;
}

.bloc6{
    grid-row: 3;
    grid-column: 1;
}

.bloc7{
    grid-row: 1;
    grid-column: 2;
}

.bloc8{
    grid-row: 2;
    grid-column: 2;
}

.bloc9{
    grid-row: 3;
    grid-column: 2;
}

.skills{
    text-align: right;
    color: #545454;
}

.martialArts {
    width: 95%; 
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar1;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} 

@keyframes bar1 {
    from {
        width: 1%
    }
    to {
        width: 95%
    }
}

.weapons {
    width: 97%; 
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} 

@keyframes bar2 {
    from {
        width: 1%
    }
    to {
        width: 97%
    }
}

.coldSteel {
    width: 94%;
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar3;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
} 

@keyframes bar3 {
    from {
        width: 1%
    }
    to {
        width: 94%
    }
}

.tacticDriving {
    width: 86%; 
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar4;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar4 {
    from {
        width: 1%
    }
    to {
        width: 86%
    }
}

.infiltration {
    width: 91%; 
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar5;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar5 {
    from {
        width: 1%
    }
    to {
        width: 91%
    }
}

.evasion {
    width: 88%; 
    background-color: #66d1c1;
    border-radius: 7px;
    animation-name: bar6;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes bar6 {
    from {
        width: 1%
    }
    to {
        width: 88%
    }
}


#progress {
    background-color: #1c1c1a;
}

.infos {
    text-align: center;
}

.container {
    overflow-x: auto;
}

.contenu {
    height: 100vh;
}

.image-bg {
    min-width: 65%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .title{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 3%;
    }
    h4{
        text-align: center;
        font-size: 26px;
        margin-bottom: 5%;
    }
    .fixe {
        width: 30%;
    }
    .contenu {
        width: 70%;
        text-align: center;
    }
    .image-bg{
        display: none;
    }
    .prices {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(3, auto);
    }
    .bloc1 {
        grid-row: 1;
        grid-column: auto;
        text-align: center;
    }
    .bloc2 {
        grid-row: 2;
        grid-column: auto;
        text-align: center;
    }
    .bloc3 {
        grid-row: 3;
        grid-column: auto;
        text-align: center;
        margin-bottom: 5%;
    }
    .bloc-element1{
        margin-bottom: 5%;
    }

    .JohnWickSkills {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        text-align: center;
    }
    .bloc4 {
        grid-row: 1;
        grid-column: auto;
    }
    .bloc5 {
        grid-row: 2;
        grid-column: auto;
    }
    .bloc6 {
        grid-row: 3;
        grid-column: auto;
    }
    .bloc7 {
        grid-row: 4;
        grid-column: auto;
    }
    .bloc8 {
        grid-row: 5;
        grid-column: auto;
    }
    .bloc9 {
        grid-row: 6;
        grid-column: auto; 
        margin-bottom: 10%;
    }
    .skills {
        animation-delay: 1.4s;
    }
}