/*HOBBIES*/

.giffy {
    width: 10%;
    height: 10%;
    position: absolute;
    }
    
h2 {
    text-align: center;
    }

.imageg {
    width: 100%;
    height: auto;
}    
.contenu {
    height: 100%;
}
<<<<<<< HEAD
<<<<<<< HEAD

.middle{
    width: 38em;
    display: block ;
    height: auto;

}
.menu {
    width: 40%;
    height: 100vh;
}
=======
>>>>>>> 68c704f38376ed31843e4c4d23abf18655cb472e
=======
>>>>>>> 68c704f38376ed31843e4c4d23abf18655cb472e
