
h1 {
    font-family: 'Abril Fatface', cursive;
    color:white;
    font-size: 3em;

}

.titleText {
    margin: 0;
    padding: 0;
    text-align: center;
    color:#66d1c1;
}

div .floatToLeft {
    float: left;
}
div .floatToRight {
    float: right;
}

p .floatToLeft {
    float: left;
    margin: 0;
    padding: 0;
}

p .floatToRight {
    float: right;
    margin: 0;
    padding: 0;
}
p .alignToRight {
    text-align: right;
    margin: 0;
    padding: 0;
}

hr {
    display: none;
}


@media screen and (max-width : 768px) {

    .image-bg {
        display: none;
    }
    br {
        display: none;
    }
    hr {
        display: block;
    }

    section .textual {
        float: right !important;
        text-align: left !important;
    }
    .titleText {
        text-align: left;
    }
}